### Content Based Filtering for movie usecase

In [0]:
import pandas as pd
import numpy as np

In [0]:
!unzip tmdb_5000_movies.csv.zip

Archive:  tmdb_5000_movies.csv.zip
  inflating: tmdb_5000_movies.csv

In [0]:
!unzip tmdb_5000_credits.csv.zip

Archive:  tmdb_5000_credits.csv.zip
  inflating: tmdb_5000_credits.csv

In [0]:
movies_df = pd.read_csv('tmdb_5000_movies.csv')
credits= pd.read_csv('tmdb_5000_credits.csv')

In [0]:
movies_df.head(2)

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500

[2 rows x 20 columns]

In [0]:
credits.head(2)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 4 columns]

#### In order to merge the two df we have to take a common named column so we will rename the movie_id to id

In [0]:
credits.rename()

In [0]:
credits_column_renamed = credits.rename(index=str, columns={"movie_id": "id"})
movies_df_merge = movies_df.merge(credits_column_renamed, on='id')
movies_df_merge.head(2)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 23 columns]

In [0]:
## Removing the unneccesary coluns
movies_cleaned_df = movies_df_merge.drop(columns=['homepage', 'title_x', 'title_y', 'status','production_countries'])
movies_cleaned_df.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 18 columns]

#### Content Based Recommendation System
Now lets make a recommendations based on the movie’s plot summaries given in the overview column. So if our user gives us a movie title, our goal is to recommend movies that share similar plot summaries.

In [0]:
movies_cleaned_df.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

We will convert the overview column in  vector format by using tfidf a document matrix algo

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer


tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# Filling NaNs with empty string
movies_cleaned_df['overview'] = movies_cleaned_df['overview'].fillna('')

In [0]:
# Fitting the TF-IDF on the 'overview' text
tfv_matrix = tfv.fit_transform(movies_cleaned_df['overview'])

In [0]:
tfv_matrix

<4803x10417 sparse matrix of type '<class 'numpy.float64'>'
	with 127220 stored elements in Compressed Sparse Row format>

In [0]:
from sklearn.metrics.pairwise import sigmoid_kernel
# Compute the sigmoid kernel for comparing the comments with other comments like a correlation and the range for sig function ranges from 0 to 1
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

In [0]:
# Reverse mapping of indices and movie titles
indices = pd.Series(movies_cleaned_df.index, index=movies_cleaned_df['original_title']).drop_duplicates()
indices

original_title
Avatar                                            0
Pirates of the Caribbean: At World's End          1
Spectre                                           2
The Dark Knight Rises                             3
John Carter                                       4
Spider-Man 3                                      5
Tangled                                           6
Avengers: Age of Ultron                           7
Harry Potter and the Half-Blood Prince            8
Batman v Superman: Dawn of Justice                9
Superman Returns                                 10
Quantum of Solace                                11
Pirates of the Caribbean: Dead Man's Chest       12
The Lone Ranger                                  13
Man of Steel                                     14
The Chronicles of Narnia: Prince Caspian         15
The Avengers                                     16
Pirates of the Caribbean: On Stranger Tides      17
Men in Black 3                                   18
The Hobbit: The Battle of the Five Armies        19
The Amazing Spider-Man                           20
Robin Hood                                       21
The Hobbit: The Desolation of Smaug              22
The Golden Compass                               23
King Kong                                        24
Titanic                                          25
Captain America: Civil War                       26
Battleship                                       27
Jurassic World                                   28
Skyfall                                          29
                                               ...
Clerks                                         4773
Pink Narcissus                                 4774
Funny Ha Ha                                    4775
In the Company of Men                          4776
Manito                                         4777
Rampage                                        4778
Slacker                                        4779
Dutch Kills                                    4780
Dry Spell                                      4781
Flywheel                                       4782
Backmask                                       4783
The Puffy Chair                                4784
Stories of Our Lives                           4785
Breaking Upwards                               4786
All Superheroes Must Die                       4787
Pink Flamingos                                 4788
Clean                                          4789
دایره                                          4790
Tin Can Man                                    4791
キュア                                            4792
On The Downlow                                 4793
Sanctuary: Quite a Conundrum                   4794
Bang                                           4795
Primer                                         4796
Cavite                                         4797
El Mariachi                                    4798
Newlyweds                                      4799
Signed, Sealed, Delivered                      4800
Shanghai Calling                               4801
My Date with Drew                              4802
Length: 4803, dtype: int64

In [0]:
indices['Pirates of the Caribbean: On Stranger Tides']

17

In [0]:
sig[17]

array([0.76159416, 0.76159541, 0.76159644, ..., 0.7615954 , 0.76159416,
       0.76159589])

In [0]:
list(enumerate(sig[indices['Pirates of the Caribbean: On Stranger Tides']]))

[(0, 0.7615941559557649),
 (1, 0.7615954060634137),
 (2, 0.761596443626416),
 (3, 0.7615950693813744),
 (4, 0.761595905734489),
 (5, 0.7615948174386417),
 (6, 0.7615956683856103),
 (7, 0.7615959222455473),
 (8, 0.7615958906417087),
 (9, 0.7615965009429913),
 (10, 0.7615947498576932),
 (11, 0.761594874410723),
 (12, 0.7616039624975609),
 (13, 0.7615941559557649),
 (14, 0.7615941559557649),
 (15, 0.7615941559557649),
 (16, 0.761595722001724),
 (17, 0.7616344692549826),
 (18, 0.7615944434374463),
 (19, 0.7615949594905843),
 (20, 0.7615944681707486),
 (21, 0.7615960430035877),
 (22, 0.7615941559557649),
 (23, 0.761595624315122),
 (24, 0.761595122739979),
 (25, 0.7615977450530766),
 (26, 0.7615949769237054),
 (27, 0.7615948352137702),
 (28, 0.7615941559557649),
 (29, 0.7615944967114796),
 (30, 0.7615949060300907),
 (31, 0.7615967047477871),
 (32, 0.7615951121295697),
 (33, 0.7615947780436787),
 (34, 0.7615948232749321),
 (35, 0.7615941559557649),
 (36, 0.7615952169223588),
 (37, 0.7615956633578076),
 (38, 0.7615951864944585),
 (39, 0.7615946150285908),
 (40, 0.7615948856580517),
 (41, 0.7615941559557649),
 (42, 0.7615949176080306),
 (43, 0.7615971557189493),
 (44, 0.7615953347265091),
 (45, 0.7615941559557649),
 (46, 0.7615961633436926),
 (47, 0.7615950372444472),
 (48, 0.7615956007303801),
 (49, 0.7615952300771601),
 (50, 0.761595469578296),
 (51, 0.761595927309031),
 (52, 0.7615946334110998),
 (53, 0.7615949628583178),
 (54, 0.7615941559557649),
 (55, 0.7615958557554523),
 (56, 0.7615941559557649),
 (57, 0.7615958436310395),
 (58, 0.7615955505963573),
 (59, 0.7615953552998052),
 (60, 0.761595202063764),
 (61, 0.7615953010846916),
 (62, 0.7615941559557649),
 (63, 0.7615945942973151),
 (64, 0.7615948375400712),
 (65, 0.7615941559557649),
 (66, 0.7615941559557649),
 (67, 0.7615941559557649),
 (68, 0.7615941559557649),
 (69, 0.7615963891498724),
 (70, 0.7615946227551184),
 (71, 0.7615945926873189),
 (72, 0.7615941559557649),
 (73, 0.7615941559557649),
 (74, 0.7615941559557649),
 (75, 0.7615980763465199),
 (76, 0.7615941559557649),
 (77, 0.7615953422530826),
 (78, 0.7615948471359926),
 (79, 0.7615941559557649),
 (80, 0.7615962555922164),
 (81, 0.7615967983033545),
 (82, 0.7615941559557649),
 (83, 0.7615957860763968),
 (84, 0.7615949424894207),
 (85, 0.7615971336347753),
 (86, 0.7615949344979726),
 (87, 0.7615941559557649),
 (88, 0.7615941559557649),
 (89, 0.7615948551957917),
 (90, 0.7615941559557649),
 (91, 0.7615950276640784),
 (92, 0.7615941559557649),
 (93, 0.7615965851195177),
 (94, 0.7615947140118619),
 (95, 0.7615941559557649),
 (96, 0.7615952024827148),
 (97, 0.7615945523333698),
 (98, 0.7615941559557649),
 (99, 0.7615949565629978),
 (100, 0.7615941559557649),
 (101, 0.7615941559557649),
 (102, 0.7615941559557649),
 (103, 0.7615950060846446),
 (104, 0.7615953757377566),
 (105, 0.761595802642659),
 (106, 0.7615952873199484),
 (107, 0.7615941559557649),
 (108, 0.7615956954986494),
 (109, 0.761595687749753),
 (110, 0.761594805812643),
 (111, 0.7615941559557649),
 (112, 0.7615941559557649),
 (113, 0.7615946148788164),
 (114, 0.7615941559557649),
 (115, 0.7615955437717148),
 (116, 0.7615941559557649),
 (117, 0.7615948457131387),
 (118, 0.7615949104359188),
 (119, 0.7615951354612994),
 (120, 0.7615941559557649),
 (121, 0.7615946375629646),
 (122, 0.7615941559557649),
 (123, 0.7615941559557649),
 (124, 0.7615962854701814),
 (125, 0.7615946238760553),
 (126, 0.7615941559557649),
 (127, 0.7615957617187328),
 (128, 0.7615941559557649),
 (129, 0.761595086966833),
 (130, 0.7615950856917957),
 (131, 0.7615941559557649),
 (132, 0.7615945250940178),
 (133, 0.7615941559557649),
 (134, 0.7615941559557649),
 (135, 0.7615941559557649),
 (136, 0.7615945659691163),
 (137, 0.7615956339180381),
 (138, 0.7615941559557649),
 (139, 0.7615941559557649),
 (140, 0.76159492239805),
 (141, 0.7615941559557649),
 (142, 0.761594920176546),
 (143, 0.7615964902333336),
 (144, 0.7615941559557649),
 (145, 0.7615951484274037),
 (146, 0.7615945722345014),
 (147, 0.7615946103330385),
 (148, 0.7615941559557649),
 (149, 0.7615945163441674),
 (150, 0.7615951823570212),
 (151, 0.7615941559557649),
 (152, 0.7615941559557649),
 (153, 0.7615941559557649),
 (154, 0.7615949174062615),
 (155, 0.7615957410771447),
 (156, 0.7615949176529178),
 (157, 0.7615941559557649),
 (158, 0.7615947013903782),
 (159, 0.7615941559557649),
 (160, 0.761594515073983),
 (161, 0.7615941559557649),
 (162, 0.7615941559557649),
 (163, 0.7615941559557649),
 (164, 0.7615951156946795),
 (165, 0.7615954664616922),
 (166, 0.7615948647887598),
 (167, 0.7615953035546832),
 (168, 0.7615941559557649),
 (169, 0.7615973494882081),
 (170, 0.7615961795829347),
 (171, 0.7615968503252404),
 (172, 0.7615941559557649),
 (173, 0.7615946824736766),
 (174, 0.7615946173768072),
 (175, 0.7615946177974268),
 (176, 0.7615941559557649),
 (177, 0.7615941559557649),
 (178, 0.7615945521439851),
 (179, 0.761595998345642),
 (180, 0.7615955218427568),
 (181, 0.7615950065175436),
 (182, 0.7615941559557649),
 (183, 0.7615944933935748),
 (184, 0.7615948715695607),
 (185, 0.7615941559557649),
 (186, 0.7615941559557649),
 (187, 0.7615948320681893),
 (188, 0.7615952777873739),
 (189, 0.7615941559557649),
 (190, 0.7615964927040798),
 (191, 0.7615941559557649),
 (192, 0.7615946843834118),
 (193, 0.7615951369130431),
 (194, 0.7615941559557649),
 (195, 0.7615941559557649),
 (196, 0.7615941559557649),
 (197, 0.7615957437698719),
 (198, 0.7615941559557649),
 (199, 0.7616037110933859),
 (200, 0.7615941559557649),
 (201, 0.7615947859630882),
 (202, 0.7615947303113519),
 (203, 0.7615946140877734),
 (204, 0.7615941559557649),
 (205, 0.7615941559557649),
 (206, 0.7615941559557649),
 (207, 0.7615960979619137),
 (208, 0.7615941559557649),
 (209, 0.7615941559557649),
 (210, 0.7615941559557649),
 (211, 0.7615944955558249),
 (212, 0.7615955728057062),
 (213, 0.7615941559557649),
 (214, 0.7615947395415904),
 (215, 0.7615941559557649),
 (216, 0.761595288468016),
 (217, 0.7615970816361399),
 (218, 0.7615962260211729),
 (219, 0.7615941559557649),
 (220, 0.7615941559557649),
 (221, 0.7615946371968453),
 (222, 0.7615954127458371),
 (223, 0.7615960991890761),
 (224, 0.7615941559557649),
 (225, 0.7615941559557649),
 (226, 0.7615962728152387),
 (227, 0.7615959784888712),
 (228, 0.7615975292351118),
 (229, 0.7615946502895597),
 (230, 0.7615949178244179),
 (231, 0.7615941559557649),
 (232, 0.7615941559557649),
 (233, 0.7615950589919398),
 (234, 0.7615953558310755),
 (235, 0.7615941559557649),
 (236, 0.7615941559557649),
 (237, 0.7615941559557649),
 (238, 0.7615945167393143),
 (239, 0.7615948891553745),
 (240, 0.7615946088547343),
 (241, 0.7615947299130139),
 (242, 0.7615941559557649),
 (243, 0.7615945658052015),
 (244, 0.7615941559557649),
 (245, 0.7615946742745228),
 (246, 0.7615941559557649),
 (247, 0.7615941559557649),
 (248, 0.761594633725757),
 (249, 0.7615941559557649),
 (250, 0.7615941559557649),
 (251, 0.7615941559557649),
 (252, 0.7615951203756249),
 (253, 0.7615949196221445),
 (254, 0.7615941559557649),
 (255, 0.7615947089535188),
 (256, 0.7615941559557649),
 (257, 0.761594643296328),
 (258, 0.7615948258487935),
 (259, 0.7615941559557649),
 (260, 0.7615954789650008),
 (261, 0.7615952446038622),
 (262, 0.7615952699832195),
 (263, 0.7615963159726149),
 (264, 0.7615945256957942),
 (265, 0.7615947075581662),
 (266, 0.7615941559557649),
 (267, 0.7615941559557649),
 (268, 0.7615941559557649),
 (269, 0.7615941559557649),
 (270, 0.7615945304521661),
 (271, 0.7615941559557649),
 (272, 0.7615950556754818),
 (273, 0.7615945711863487),
 (274, 0.7615944283695284),
 (275, 0.7615941559557649),
 (276, 0.7615941559557649),
 (277, 0.7615945156913813),
 (278, 0.7615952185450945),
 (279, 0.7615941559557649),
 (280, 0.761595328654207),
 (281, 0.7615941559557649),
 (282, 0.7615941559557649),
 (283, 0.7615946856999314),
 (284, 0.7615980420339221),
 (285, 0.7615951688030491),
 (286, 0.7615957223946808),
 (287, 0.7615941559557649),
 (288, 0.7615946345610447),
 (289, 0.7615972486638342),
 (290, 0.7615960291212724),
 (291, 0.7615945525045466),
 (292, 0.7615954860275701),
 (293, 0.7615941559557649),
 (294, 0.7615959059300712),
 (295, 0.7615956642117601),
 (296, 0.7615952976416147),
 (297, 0.7615951193105486),
 (298, 0.7615947528539241),
 (299, 0.7615948062762681),
 (300, 0.7615946080422875),
 (301, 0.7615949401610966),
 (302, 0.761595115919134),
 (303, 0.7615957721131008),
 (304, 0.7615953068563998),
 (305, 0.7615952897660612),
 (306, 0.7615941559557649),
 (307, 0.7615945895684954),
 (308, 0.7615941559557649),
 (309, 0.7615946193186572),
 (310, 0.7615967073813097),
 (311, 0.7615945314330053),
 (312, 0.7615945881344077),
 (313, 0.7615941559557649),
 (314, 0.7615951527799023),
 (315, 0.7615964529979043),
 (316, 0.7615945402231616),
 (317, 0.761595259589722),
 (318, 0.761594492105926),
 (319, 0.7615953036395664),
 (320, 0.7615947312242005),
 (321, 0.7615941559557649),
 (322, 0.7615941559557649),
 (323, 0.7615941559557649),
 (324, 0.7615955031832999),
 (325, 0.7615968713894503),
 (326, 0.7615950813141327),
 (327, 0.7615948795774045),
 (328, 0.7615952063354288),
 (329, 0.7615959066846154),
 (330, 0.7615941559557649),
 (331, 0.7615949646003727),
 (332, 0.7615946223653612),
 (333, 0.7615941559557649),
 (334, 0.761594489280599),
 (335, 0.7615946288573724),
 (336, 0.7615941559557649),
 (337, 0.761596863375967),
 (338, 0.7615956161136276),
 (339, 0.76159473992212),
 (340, 0.7615953438997302),
 (341, 0.7615946331622463),
 (342, 0.7615945086024469),
 (343, 0.7615948206158901),
 (344, 0.7615941559557649),
 (345, 0.761595200822436),
 (346, 0.7615957652532149),
 (347, 0.7615941559557649),
 (348, 0.7615941559557649),
 (349, 0.7615951761125117),
 (350, 0.7615941559557649),
 (351, 0.761595119786418),
 (352, 0.7615950449601203),
 (353, 0.7615952517071642),
 (354, 0.7615945857254572),
 (355, 0.7615944265937816),
 (356, 0.7615941559557649),
 (357, 0.7615941559557649),
 (358, 0.7615947739652631),
 (359, 0.7615941559557649),
 (360, 0.7615944712934352),
 (361, 0.7615946823052686),
 (362, 0.7615941559557649),
 (363, 0.7615951248360338),
 (364, 0.7615945890994079),
 (365, 0.7615941559557649),
 (366, 0.7615954319841138),
 (367, 0.7615941559557649),
 (368, 0.7615941559557649),
 (369, 0.761594920061234),
 (370, 0.7615947396359883),
 (371, 0.7615948304073616),
 (372, 0.7615941559557649),
 (373, 0.7615941559557649),
 (374, 0.7615946647405163),
 (375, 0.7615948016558238),
 (376, 0.7615945612546323),
 (377, 0.7615958406268142),
 (378, 0.7615958225975479),
 (379, 0.7615941559557649),
 (380, 0.7615948453335113),
 (381, 0.7615947861988832),
 (382, 0.7615941559557649),
 (383, 0.7615941559557649),
 (384, 0.7615960531509101),
 (385, 0.7615941559557649),
 (386, 0.7615941559557649),
 (387, 0.7615945492739694),
 (388, 0.7615945620395812),
 (389, 0.7615941559557649),
 (390, 0.7615947746322107),
 (391, 0.7615966496667447),
 (392, 0.7615946639925223),
 (393, 0.7615946080279803),
 (394, 0.7615952920605734),
 (395, 0.7615972024404575),
 (396, 0.7615941559557649),
 (397, 0.761594652082178),
 (398, 0.76159552588595),
 (399, 0.7615944771272588),
 (400, 0.7615956635031207),
 (401, 0.7615941559557649),
 (402, 0.7615957468894484),
 (403, 0.7615985491294994),
 (404, 0.7615941559557649),
 (405, 0.7615941559557649),
 (406, 0.7615945022071289),
 (407, 0.7615963914646043),
 (408, 0.7615941559557649),
 (409, 0.7615946997605989),
 (410, 0.7615968820983356),
 (411, 0.7615943986068971),
 (412, 0.7615956421289443),
 (413, 0.7615952444880121),
 (414, 0.7615941559557649),
 (415, 0.7615943980458011),
 (416, 0.7615946047879416),
 (417, 0.7615941559557649),
 (418, 0.7615949505577682),
 (419, 0.7615945953903389),
 (420, 0.761594796960785),
 (421, 0.7615941559557649),
 (422, 0.7615941559557649),
 (423, 0.761594452455081),
 (424, 0.7615941559557649),
 (425, 0.7615951142990023),
 (426, 0.761595015128553),
 (427, 0.7615952716696568),
 (428, 0.7615944726463262),
 (429, 0.7615941559557649),
 (430, 0.7615958014399071),
 (431, 0.7615941559557649),
 (432, 0.7615945636783559),
 (433, 0.7615941559557649),
 (434, 0.7615941559557649),
 (435, 0.7615972403519107),
 (436, 0.7615941559557649),
 (437, 0.7615941559557649),
 (438, 0.7615948657066047),
 (439, 0.761594648620332),
 (440, 0.7615941559557649),
 (441, 0.761594700059875),
 (442, 0.7615946636211167),
 (443, 0.7615945643140695),
 (444, 0.761595020487105),
 (445, 0.7615946280754847),
 (446, 0.7615946197974303),
 (447, 0.7615952051695623),
 (448, 0.7615944275449206),
 (449, 0.7615941559557649),
 (450, 0.7615945859621108),
 (451, 0.7615941559557649),
 (452, 0.7615941559557649),
 (453, 0.7615941559557649),
 (454, 0.7615941559557649),
 (455, 0.7615941559557649),
 (456, 0.7615945211768156),
 (457, 0.7615941559557649),
 (458, 0.7615946546559323),
 (459, 0.7615952912224604),
 (460, 0.7616005867869151),
 (461, 0.7615941559557649),
 (462, 0.7615948763962359),
 (463, 0.7615945154305547),
 (464, 0.7615941559557649),
 (465, 0.7615948150675934),
 (466, 0.7615959381600624),
 (467, 0.7615945057990383),
 (468, 0.7615941559557649),
 (469, 0.7615965737501896),
 (470, 0.7615941559557649),
 (471, 0.7615941559557649),
 (472, 0.7615941559557649),
 (473, 0.761594572623529),
 (474, 0.7615941559557649),
 (475, 0.7615941559557649),
 (476, 0.7615941559557649),
 (477, 0.7615941559557649),
 (478, 0.7615941559557649),
 (479, 0.7615941559557649),
 (480, 0.7615949652973395),
 (481, 0.7615941559557649),
 (482, 0.7615945533286983),
 (483, 0.7615957883595996),
 (484, 0.7615941559557649),
 (485, 0.7615946754370679),
 (486, 0.7615952847350486),
 (487, 0.7615941559557649),
 (488, 0.7615944605822426),
 (489, 0.7615941559557649),
 (490, 0.7615941559557649),
 (491, 0.7615947091730418),
 (492, 0.7615960120670969),
 (493, 0.7615949916983876),
 (494, 0.7615948327930021),
 (495, 0.7615948753214153),
 (496, 0.7615941559557649),
 (497, 0.7615941559557649),
 (498, 0.7615951105236904),
 (499, 0.7615974286919923),
 (500, 0.7615946012436611),
 (501, 0.7615941559557649),
 (502, 0.7615952123018643),
 (503, 0.7615941559557649),
 (504, 0.7615941559557649),
 (505, 0.7615941559557649),
 (506, 0.7615941559557649),
 (507, 0.7615941559557649),
 (508, 0.7615945667530919),
 (509, 0.7615954747571274),
 (510, 0.7615955874622296),
 (511, 0.7615941559557649),
 (512, 0.7615941559557649),
 (513, 0.7615941559557649),
 (514, 0.7615945715391073),
 (515, 0.7615964248820698),
 (516, 0.7615941559557649),
 (517, 0.7615941559557649),
 (518, 0.7615941559557649),
 (519, 0.7615941559557649),
 (520, 0.7615941559557649),
 (521, 0.761595105860111),
 (522, 0.7615959233657109),
 (523, 0.7615953692569852),
 (524, 0.7615947300206933),
 (525, 0.7615945836590148),
 (526, 0.7615941559557649),
 (527, 0.7615941559557649),
 (528, 0.7615941559557649),
 (529, 0.7615947536039909),
 (530, 0.7615957345612454),
 (531, 0.7615945288289974),
 (532, 0.7615948845067195),
 (533, 0.7615941559557649),
 (534, 0.7615947511646934),
 (535, 0.7615948029888459),
 (536, 0.761595763237543),
 (537, 0.7615953336990868),
 (538, 0.7615941559557649),
 (539, 0.7615952470407841),
 (540, 0.7615941559557649),
 (541, 0.761594625115455),
 (542, 0.7615941559557649),
 (543, 0.7615945214265646),
 (544, 0.761595622892043),
 (545, 0.7615941559557649),
 (546, 0.7615941559557649),
 (547, 0.7615941559557649),
 (548, 0.7615949937767202),
 (549, 0.7615941559557649),
 (550, 0.7615946117247724),
 (551, 0.7615958672961511),
 (552, 0.7615961175182384),
 (553, 0.7615948290912173),
 (554, 0.7615941559557649),
 (555, 0.7615944723373559),
 (556, 0.761595109790963),
 (557, 0.7615946257392313),
 (558, 0.7615950094369104),
 (559, 0.7615941559557649),
 (560, 0.7615952347973917),
 (561, 0.761595221281056),
 (562, 0.7615941559557649),
 (563, 0.7615945475254747),
 (564, 0.7615947317671659),
 (565, 0.7615948415570667),
 (566, 0.7615955604415339),
 (567, 0.7615949180448394),
 (568, 0.7615957164080398),
 (569, 0.7615951942393799),
 (570, 0.7615951284422898),
 (571, 0.7615958997135586),
 (572, 0.7615953191855247),
 (573, 0.7615949075528408),
 (574, 0.7615945251070507),
 (575, 0.7615946292482217),
 (576, 0.7615950847661896),
 (577, 0.761595037435699),
 (578, 0.7615948421332901),
 (579, 0.7615941559557649),
 (580, 0.7615948668849998),
 (581, 0.7615955904442389),
 (582, 0.7615957566373363),
 (583, 0.7615949635766706),
 (584, 0.7615941559557649),
 (585, 0.7615941559557649),
 (586, 0.7615945514943261),
 (587, 0.7615949574776651),
 (588, 0.7615945570310129),
 (589, 0.7615956930276395),
 (590, 0.7615941559557649),
 (591, 0.7615941559557649),
 (592, 0.7615946789454409),
 (593, 0.7615946017872545),
 (594, 0.7615941559557649),
 (595, 0.7615941559557649),
 (596, 0.7615967891838286),
 (597, 0.7615945620246396),
 (598, 0.7615941559557649),
 (599, 0.7615944425599803),
 (600, 0.7615945203690349),
 (601, 0.7615951464054407),
 (602, 0.7615941559557649),
 (603, 0.7615941559557649),
 (604, 0.7615941559557649),
 (605, 0.7615941559557649),
 (606, 0.7615941559557649),
 (607, 0.7615953444158483),
 (608, 0.7615941559557649),
 (609, 0.7615949763877439),
 (610, 0.7615953331364939),
 (611, 0.7615945559655511),
 (612, 0.7615951892818181),
 (613, 0.7615941559557649),
 (614, 0.7615941559557649),
 (615, 0.7615941559557649),
 (616, 0.7615947256316117),
 (617, 0.7615945642527151),
 (618, 0.7615962874006975),
 (619, 0.7615941559557649),
 (620, 0.7615941559557649),
 (621, 0.7615941559557649),
 (622, 0.7615951575386632),
 (623, 0.7615956800430217),
 (624, 0.7615948605887153),
 (625, 0.7615946930345747),
 (626, 0.761594735310356),
 (627, 0.7615941559557649),
 (628, 0.7615955433050834),
 (629, 0.7615950794529817),
 (630, 0.7615945773630937),
 (631, 0.7615941559557649),
 (632, 0.7615941559557649),
 (633, 0.7615945568258944),
 (634, 0.7615941559557649),
 (635, 0.7615941559557649),
 (636, 0.761595024314792),
 (637, 0.7615946583377728),
 (638, 0.7615951405852422),
 (639, 0.7615968917592846),
 (640, 0.7615941559557649),
 (641, 0.7615941559557649),
 (642, 0.7615950205628821),
 (643, 0.761595315750866),
 (644, 0.7615941559557649),
 (645, 0.7615950248731398),
 (646, 0.7615953662092081),
 (647, 0.7615941559557649),
 (648, 0.7615946466784533),
 (649, 0.7615941559557649),
 (650, 0.7615946562315127),
 (651, 0.7615953015460027),
 (652, 0.7615947420971461),
 (653, 0.7615956589519887),
 (654, 0.7615946735089685),
 (655, 0.7615941559557649),
 (656, 0.7615960525372648),
 (657, 0.7615957780367241),
 (658, 0.7615941559557649),
 (659, 0.7615941559557649),
 (660, 0.7615941559557649),
 (661, 0.7615941559557649),
 (662, 0.7615941559557649),
 (663, 0.7615946882740737),
 (664, 0.7615941559557649),
 (665, 0.7615945665925891),
 (666, 0.7615950921206706),
 (667, 0.7615941559557649),
 (668, 0.7615941559557649),
 (669, 0.761596357526646),
 (670, 0.7615958950967765),
 (671, 0.7615945839158701),
 (672, 0.7615946987446135),
 (673, 0.7615946423254978),
 (674, 0.7615945527547607),
 (675, 0.7615941559557649),
 (676, 0.7615950232541282),
 (677, 0.7615958901255941),
 (678, 0.7615948083781796),
 (679, 0.7615944332100685),
 (680, 0.7615941559557649),
 (681, 0.7615955077924459),
 (682, 0.761594605625605),
 (683, 0.7615945807355691),
 (684, 0.7615941559557649),
 (685, 0.7615941559557649),
 (686, 0.7615950646817619),
 (687, 0.7615950828957407),
 (688, 0.7615962079539504),
 (689, 0.7615951443561753),
 (690, 0.7615959362840949),
 (691, 0.7615959715015493),
 (692, 0.7615946048200628),
 (693, 0.761595491387352),
 (694, 0.7615945110652117),
 (695, 0.7615951983260475),
 (696, 0.7615945414526786),
 (697, 0.7615941559557649),
 (698, 0.7615958945260141),
 (699, 0.761594817758091),
 (700, 0.7615941559557649),
 (701, 0.7615941559557649),
 (702, 0.7615945516162167),
 (703, 0.7615947454638972),
 (704, 0.761595033079717),
 (705, 0.7615941559557649),
 (706, 0.7615950683153212),
 (707, 0.7615941559557649),
 (708, 0.761595184851449),
 (709, 0.7615949638767435),
 (710, 0.7615990083015148),
 (711, 0.7615941559557649),
 (712, 0.7615946849769386),
 (713, 0.7615941559557649),
 (714, 0.7615941559557649),
 (715, 0.7615955203959404),
 (716, 0.7615986901239873),
 (717, 0.7615965683535545),
 (718, 0.7615950794833346),
 (719, 0.7615941559557649),

In [0]:
def give_rec(title, sig=sig):
    # Get the index corresponding to original_title
    idx = indices[title]

    # Get the pairwsie similarity scores 
    sig_scores = list(enumerate(sig[idx]))

    # Sort the movies 
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    # Scores of the 10 most similar movies
    sig_scores = sig_scores[1:11]

    # Movie indices
    movie_indices = [i[0] for i in sig_scores]

    # Top 10 most similar movies
    return movies_cleaned_df['original_title'].iloc[movie_indices]

In [0]:
give_rec('Avatar')

1341                Obitaemyy Ostrov
634                       The Matrix
3604                       Apollo 18
2130                    The American
775                        Supernova
529                 Tears of the Sun
151                          Beowulf
311     The Adventures of Pluto Nash
847                         Semi-Pro
942                 The Book of Life
Name: original_title, dtype: object

### Collaborative Filtering for Book usecase

In [0]:
!unzip BX-CSV-Dump.zip

Archive:  BX-CSV-Dump.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [4]:
import matplotlib.pyplot as plt
books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
books.head(2)

         ISBN  ...                                          imageUrlL
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...

[2 rows x 8 columns]

In [0]:
users.head(2)

   userID                   Location   Age
0       1         nyc, new york, usa   NaN
1       2  stockton, california, usa  18.0

In [0]:
ratings.head(2)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5

To ensure statistical significance, users with less than 200 ratings, and books with less than 100 ratings are excluded.

In [0]:
ratings['bookRating'].value_counts()

0     716109
8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: bookRating, dtype: int64

In [0]:
counts1 = ratings['userID'].value_counts()
ratings = ratings[ratings['userID'].isin(counts1[counts1 >= 200].index)]
counts = ratings['bookRating'].value_counts()
ratings = ratings[ratings['bookRating'].isin(counts[counts >= 100].index)]

### Collaborative Filtering Using k-Nearest Neighbors (kNN)
kNN is a machine learning algorithm to find clusters of similar users based on common book ratings, and make predictions using the average rating of top-k nearest neighbors. For example, we first present ratings in a matrix with the matrix having one row for each item (book) and one column for each user,

In [6]:
combine_book_rating = pd.merge(ratings, books, on='ISBN')
combine_book_rating = combine_book_rating.drop(['yearOfPublication', 'publisher', 'bookAuthor', 'imageUrlS', 'imageUrlM', 'imageUrlL'], axis=1)
combine_book_rating.head()

   userID  ...                                          bookTitle
0  277427  ...  Politically Correct Bedtime Stories: Modern Ta...
1    3363  ...  Politically Correct Bedtime Stories: Modern Ta...
2   11676  ...  Politically Correct Bedtime Stories: Modern Ta...
3   12538  ...  Politically Correct Bedtime Stories: Modern Ta...
4   13552  ...  Politically Correct Bedtime Stories: Modern Ta...

[5 rows x 4 columns]

We then group by book titles and create a new column for total rating count.

In [0]:
combine_book_rating.isna().sum()

userID        0
ISBN          0
bookRating    0
bookTitle     0
dtype: int64

In [0]:
# combine_book_rating = combine_book_rating.dropna(axis = 0, subset = ['bookTitle'])

book_ratingCount = (combine_book_rating.
     groupby(by = ['bookTitle'])['bookRating'].
     count().
     reset_index().
     rename(columns = {'bookRating': 'totalRatingCount'})
     [['bookTitle', 'totalRatingCount']]
    )
book_ratingCount.head()

                                           bookTitle  totalRatingCount
0   A Light in the Storm: The Civil War Diary of ...                 2
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Beyond IBM: Leadership Marketing and Finance ...                 1
4   Clifford Visita El Hospital (Clifford El Gran...                 1

In [0]:
rating_with_totalRatingCount = combine_book_rating.merge(book_ratingCount, left_on = 'bookTitle', right_on = 'bookTitle', how = 'left')
rating_with_totalRatingCount.head()

   userID  ... totalRatingCount
0  277427  ...               82
1    3363  ...               82
2   11676  ...               82
3   12538  ...               82
4   13552  ...               82

[5 rows x 5 columns]

In [0]:
popularity_threshold = 50
rating_popular_book = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_book.head()

   userID  ... totalRatingCount
0  277427  ...               82
1    3363  ...               82
2   11676  ...               82
3   12538  ...               82
4   13552  ...               82

[5 rows x 5 columns]

## Filter to users in US and Canada only

In [0]:
combined = rating_popular_book.merge(users, left_on = 'userID', right_on = 'userID', how = 'left')

us_canada_user_rating = combined[combined['Location'].str.contains("usa|canada")]
us_canada_user_rating=us_canada_user_rating.drop('Age', axis=1)
us_canada_user_rating.head(2)

   userID        ISBN  ...  totalRatingCount                   Location
0  277427  002542730X  ...                82      gilbert, arizona, usa
1    3363  002542730X  ...                82  knoxville, tennessee, usa

[2 rows x 6 columns]

### Implementing kNN
We convert our table to a 2D matrix, and fill the missing values with zeros (since we will calculate distances between rating vectors). We then transform the values(ratings) of the matrix dataframe into a scipy sparse matrix for more efficient calculations.

Finding the Nearest Neighbors We use unsupervised algorithms with sklearn.neighbors. The algorithm we use to compute the nearest neighbors is “brute”, and we specify “metric=cosine” so that the algorithm will calculate the cosine similarity between rating vectors. Finally, we fit the model.

In [0]:
us_canada_user_rating.head(2)

   userID        ISBN  ...  totalRatingCount                   Location
0  277427  002542730X  ...                82      gilbert, arizona, usa
1    3363  002542730X  ...                82  knoxville, tennessee, usa

[2 rows x 6 columns]

In [0]:
from scipy.sparse import csr_matrix
us_canada_user_rating = us_canada_user_rating.drop_duplicates(['userID', 'bookTitle'])
us_canada_user_rating_pivot = us_canada_user_rating.pivot(index = 'bookTitle', columns = 'userID', values = 'bookRating').fillna(0)
us_canada_user_rating_pivot
us_canada_user_rating_matrix = csr_matrix(us_canada_user_rating_pivot.values)
us_canada_user_rating_matrix

<746x734 sparse matrix of type '<class 'numpy.float64'>'
	with 13028 stored elements in Compressed Sparse Row format>

In [0]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(us_canada_user_rating_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [0]:
query_index = np.random.choice(us_canada_user_rating_pivot.shape[0])
print(query_index)

375

In [0]:
us_canada_user_rating_pivot.iloc[query_index,:].values.reshape(1,-1)

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  3.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  6.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.]])

In [0]:
distances, indices = model_knn.kneighbors(us_canada_user_rating_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

In [0]:
us_canada_user_rating_pivot.index[375]

'Now You See Her'

In [0]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(us_canada_user_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, us_canada_user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Now You See Her:

1: Irish Hearts, with distance of 0.7632558161539981:
2: Dangerous, with distance of 0.7702928820025228:
3: Macgregor Grooms (Macgregors), with distance of 0.7761173908086503:
4: Servant of the Bones, with distance of 0.7858328877179654:
5: Crazy for You, with distance of 0.7964718498705008: