In [55]:
import pandas as pd
import numpy as np

In [56]:
hr_train = pd.read_csv("F:\\Python(ML)\\Analytics Vidya Competition\\HR Analytics\\train_LZdllcl.csv")

In [57]:
hr_train.head(2)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0

In [58]:
hr_test = pd.read_csv("F:\\Python(ML)\\Analytics Vidya Competition\\HR Analytics\\test_2umaH9m.csv")

In [59]:
hr_test.head(2)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51

In [60]:
hr_test['is_promoted'] = np.nan

In [61]:
hr_test['data'] = 'test'

In [62]:
hr_train['data'] = 'train'

In [63]:
hr_test = hr_test[hr_train.columns]

In [64]:
hr_all = pd.concat([hr_train,hr_test],axis = 0)

In [65]:
hr_all.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,data
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0.0,train
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0.0,train
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0.0,train
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0.0,train
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0.0,train

In [66]:
hr_all.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted             float64
data                     object
dtype: object

In [67]:
cat_col=hr_all.select_dtypes(['object']).columns
cat_col = cat_col[:-1]
cat_col = cat_col.drop('region')
cat_col

Index(['department', 'education', 'gender', 'recruitment_channel'], dtype='object')

In [68]:
for col in cat_col[:-1]:
    dummy=pd.get_dummies(hr_all[col],drop_first=True,prefix=col)
    hr_all=pd.concat([hr_all,dummy],axis=1)
    del hr_all[col]
    print(col)
del dummy

department
education
gender

In [69]:
hr_all.head(4)

,employee_id,region,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,...,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology,education_Below Secondary,education_Master's & above,gender_m
0,65438,region_7,sourcing,1,35,5.0,8,1,0,49,...,0,0,0,0,0,1,0,0,1,0
1,65141,region_22,other,1,30,5.0,4,0,0,60,...,0,0,1,0,0,0,0,0,0,1
2,7513,region_19,sourcing,1,34,3.0,7,0,0,50,...,0,0,0,0,0,1,0,0,0,1
3,2542,region_23,other,2,39,1.0,10,0,0,50,...,0,0,0,0,0,1,0,0,0,1

In [70]:
hr_all.isnull().sum()

employee_id                         0
region                              0
recruitment_channel                 0
no_of_trainings                     0
age                                 0
previous_year_rating             5936
length_of_service                   0
KPIs_met >80%                       0
awards_won?                         0
avg_training_score                  0
is_promoted                     23490
data                                0
department_Finance                  0
department_HR                       0
department_Legal                    0
department_Operations               0
department_Procurement              0
department_R&D                      0
department_Sales & Marketing        0
department_Technology               0
education_Below Secondary           0
education_Master's & above          0
gender_m                            0
dtype: int64

In [80]:
hr_all.nunique()

employee_id                     78298
no_of_trainings                    10
age                                41
previous_year_rating                6
length_of_service                  35
KPIs_met >80%                       2
awards_won?                         2
avg_training_score                 61
is_promoted                         2
data                                2
department_Finance                  2
department_HR                       2
department_Legal                    2
department_Operations               2
department_Procurement              2
department_R&D                      2
department_Sales & Marketing        2
department_Technology               2
education_Below Secondary           2
education_Master's & above          2
gender_m                            2
dtype: int64

In [74]:
for col in hr_all.columns:
    if (col not in ['is_promoted','data'])& (hr_all[col].isnull().sum()>0):
        hr_all.loc[hr_all[col].isnull(),col]=hr_all.loc[hr_all['data']=='train',col].mean()

In [76]:
hr_all.isnull().sum()

employee_id                         0
region                              0
recruitment_channel                 0
no_of_trainings                     0
age                                 0
previous_year_rating                0
length_of_service                   0
KPIs_met >80%                       0
awards_won?                         0
avg_training_score                  0
is_promoted                     23490
data                                0
department_Finance                  0
department_HR                       0
department_Legal                    0
department_Operations               0
department_Procurement              0
department_R&D                      0
department_Sales & Marketing        0
department_Technology               0
education_Below Secondary           0
education_Master's & above          0
gender_m                            0
dtype: int64

In [77]:
hr_all=hr_all.drop(['region','recruitment_channel'],axis = 1)

In [79]:
hr_all.dtypes

employee_id                       int64
no_of_trainings                   int64
age                               int64
previous_year_rating            float64
length_of_service                 int64
KPIs_met >80%                     int64
awards_won?                       int64
avg_training_score                int64
is_promoted                     float64
data                             object
department_Finance                uint8
department_HR                     uint8
department_Legal                  uint8
department_Operations             uint8
department_Procurement            uint8
department_R&D                    uint8
department_Sales & Marketing      uint8
department_Technology             uint8
education_Below Secondary         uint8
education_Master's & above        uint8
gender_m                          uint8
dtype: object

In [81]:
hr_train=hr_all[hr_all['data']=='train']
del hr_train['data']
hr_test=hr_all[hr_all['data']=='test']
hr_test.drop(['is_promoted','data'],axis=1,inplace=True)

C:\Users\Immortal\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [82]:
hr_train.nunique()

employee_id                     54808
no_of_trainings                    10
age                                41
previous_year_rating                6
length_of_service                  35
KPIs_met >80%                       2
awards_won?                         2
avg_training_score                 61
is_promoted                         2
department_Finance                  2
department_HR                       2
department_Legal                    2
department_Operations               2
department_Procurement              2
department_R&D                      2
department_Sales & Marketing        2
department_Technology               2
education_Below Secondary           2
education_Master's & above          2
gender_m                            2
dtype: int64

In [83]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV

In [84]:
params={'class_weight':['balanced',None],
        'penalty':['l1','l2'],
        'C':np.linspace(0.01,1000,10)}

In [85]:
model=LogisticRegression(fit_intercept=True,solver='liblinear')

In [86]:
grid_search=GridSearchCV(model,param_grid=params,cv=2,scoring="roc_auc")

In [87]:
x_train=hr_train.drop('is_promoted',axis=1)
y_train=hr_train['is_promoted']

In [88]:
hr_all['is_promoted'].nunique()

2

In [89]:
grid_search.fit(x_train,y_train)

C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Immortal\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

GridSearchCV(cv=2, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'class_weight': ['balanced', None], 'penalty': ['l1', 'l2'], 'C': array([1.0000e-02, 1.1112e+02, 2.2223e+02, 3.3334e+02, 4.4445e+02,
       5.5556e+02, 6.6667e+02, 7.7778e+02, 8.8889e+02, 1.0000e+03])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [91]:
logr = grid_search.best_estimator_

In [92]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [93]:
report(grid_search.cv_results_,5)

Model with rank: 1
Mean validation score: 0.873 (std: 0.000)
Parameters: {'C': 777.78, 'class_weight': None, 'penalty': 'l1'}

Model with rank: 2
Mean validation score: 0.873 (std: 0.001)
Parameters: {'C': 333.34, 'class_weight': None, 'penalty': 'l1'}

Model with rank: 3
Mean validation score: 0.873 (std: 0.000)
Parameters: {'C': 1000.0, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 4
Mean validation score: 0.873 (std: 0.000)
Parameters: {'C': 555.56, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 5
Mean validation score: 0.873 (std: 0.000)
Parameters: {'C': 222.23, 'class_weight': 'balanced', 'penalty': 'l2'}

In [94]:
logr.fit(x_train,y_train)

LogisticRegression(C=777.78, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l1', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [95]:
cutoffs=np.linspace(0.01,0.99,99)

cutoffs

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99])

In [96]:
train_score=logr.predict_proba(x_train)[:,1]

real=y_train

In [97]:
train_score>0.2

array([False, False, False, ..., False, False, False])

In [98]:
KS_all=[]

for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)

    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
      
    KS=(TP/P)-(FP/N)
    
    
    KS_all.append(KS)

# try out what cutoffs you get when you use F_beta scores with different values of betas [0.5 , 5]
# beta < 1 : you will get cutoff , which is high ( favours precision)
# beta > 1 : you will get cutoff , which is low (favours precision )

In [99]:
mycutoff=cutoffs[KS_all==max(KS_all)][0]
mycutoff

0.06999999999999999

In [100]:
test_score=logr.predict_proba(hr_test)[:,1]

In [103]:
test_classes=(test_score>mycutoff).astype(int)

In [111]:
pd.DataFrame(test_classes,columns=['is_promoted']).to_csv("hr_analytics.csv",index=False)