In [110]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import RandomizedSearchCV

In [111]:
a = r'F:\Python(ML)\Project 2\carvan_train.csv'
b = r'F:\Python(ML)\Project 2\carvan_test.csv'

In [112]:
ins_train = pd.read_csv(a)
ins_test = pd.read_csv(b)

In [113]:
ins_train.head(2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V77,V78,V79,V80,V81,V82,V83,V84,V85,V86
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0

In [114]:
ins_test.head(2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V76,V77,V78,V79,V80,V81,V82,V83,V84,V85
0,33,1,4,2,8,0,6,0,3,5,...,0,0,0,0,1,0,0,0,0,0
1,6,1,3,2,2,0,5,0,4,5,...,2,0,0,0,1,0,0,0,0,0

In [115]:
ins_train.dtypes

V1     int64
V2     int64
V3     int64
V4     int64
V5     int64
V6     int64
V7     int64
V8     int64
V9     int64
V10    int64
V11    int64
V12    int64
V13    int64
V14    int64
V15    int64
V16    int64
V17    int64
V18    int64
V19    int64
V20    int64
V21    int64
V22    int64
V23    int64
V24    int64
V25    int64
V26    int64
V27    int64
V28    int64
V29    int64
V30    int64
       ...
V57    int64
V58    int64
V59    int64
V60    int64
V61    int64
V62    int64
V63    int64
V64    int64
V65    int64
V66    int64
V67    int64
V68    int64
V69    int64
V70    int64
V71    int64
V72    int64
V73    int64
V74    int64
V75    int64
V76    int64
V77    int64
V78    int64
V79    int64
V80    int64
V81    int64
V82    int64
V83    int64
V84    int64
V85    int64
V86    int64
Length: 86, dtype: object

In [116]:
ins_train['V1'].value_counts()

33    810
8     339
38    339
39    328
9     278
23    251
3     249
36    225
35    214
41    205
31    205
34    182
24    180
13    179
10    165
11    153
32    141
37    132
1     124
6     119
30    118
12    111
22     98
29     86
2      82
25     82
40     71
4      52
27     50
26     48
5      45
7      44
28     25
20     25
18     19
16     16
21     15
17      9
15      5
19      3
Name: V1, dtype: int64

In [117]:
temp1 = pd.get_dummies(ins_train['V1'],prefix = 'V1',drop_first=True)
temp2 = pd.get_dummies(ins_test['V1'],prefix = 'V1',drop_first=True)

In [118]:
ins_train=pd.concat([temp1,ins_train],1)
ins_test=pd.concat([temp2,ins_test],1)

In [119]:
ins_train.columns

Index(['V1_2', 'V1_3', 'V1_4', 'V1_5', 'V1_6', 'V1_7', 'V1_8', 'V1_9', 'V1_10',
       'V1_11',
       ...
       'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86'],
      dtype='object', length=125)

In [120]:
del ins_train['V1']
del ins_test['V1']

# for V5

In [121]:
ins_train['V5'].value_counts()

8     1563
3      886
9      667
5      569
1      552
7      550
2      502
10     276
6      205
4       52
Name: V5, dtype: int64

In [122]:
temp3 = pd.get_dummies(ins_train['V5'],prefix = 'V5_',drop_first=True)
temp4 = pd.get_dummies(ins_test['V5'],prefix = 'V5_',drop_first=True)

In [123]:
ins_train = pd.concat([temp3,ins_train],1)
ins_test = pd.concat([temp4,ins_test],1)

In [124]:
ins_train.columns

Index(['V5__2', 'V5__3', 'V5__4', 'V5__5', 'V5__6', 'V5__7', 'V5__8', 'V5__9',
       'V5__10', 'V1_2',
       ...
       'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86'],
      dtype='object', length=133)

In [125]:
ins_test.columns

Index(['V5__2', 'V5__3', 'V5__4', 'V5__5', 'V5__6', 'V5__7', 'V5__8', 'V5__9',
       'V5__10', 'V1_2',
       ...
       'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85'],
      dtype='object', length=132)

In [126]:
x = ins_train.drop(['V86'],1)
y = ins_train['V86']

In [127]:
x.head()

,V5__2,V5__3,V5__4,V5__5,V5__6,V5__7,V5__8,V5__9,V5__10,V1_2,...,V76,V77,V78,V79,V80,V81,V82,V83,V84,V85
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [128]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: V86, dtype: int64

In [129]:
params={'class_weight':[None,'balanced'], 
        'criterion':['entropy','gini'],
        'max_depth':[None,5,10,15,20,30,50,70],
            'min_samples_leaf':[1,2,5,10,15,20], 
            'min_samples_split':[2,5,10,15,20]
       }

In [130]:
from sklearn.tree import DecisionTreeClassifier

In [131]:
clf = DecisionTreeClassifier()

In [132]:
random_search = RandomizedSearchCV(clf,cv=15,param_distributions = params,scoring ='roc_auc',n_iter=10,n_jobs = -1)

In [133]:
random_search.fit(x,y)

RandomizedSearchCV(cv=15, error_score='raise-deprecating',
          estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          fit_params=None, iid='warn', n_iter=10, n_jobs=-1,
          param_distributions={'class_weight': [None, 'balanced'], 'criterion': ['entropy', 'gini'], 'max_depth': [None, 5, 10, 15, 20, 30, 50, 70], 'min_samples_leaf': [1, 2, 5, 10, 15, 20], 'min_samples_split': [2, 5, 10, 15, 20]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring='roc_auc', verbose=0)

In [134]:
random_search.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=15,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [135]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.5f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [136]:
report(random_search.cv_results_,3)

Model with rank: 1
Mean validation score: 0.716 (std: 0.04372)
Parameters: {'min_samples_split': 15, 'min_samples_leaf': 1, 'max_depth': 5, 'criterion': 'entropy', 'class_weight': None}

Model with rank: 2
Mean validation score: 0.655 (std: 0.06679)
Parameters: {'min_samples_split': 15, 'min_samples_leaf': 2, 'max_depth': 10, 'criterion': 'entropy', 'class_weight': None}

Model with rank: 3
Mean validation score: 0.628 (std: 0.05554)
Parameters: {'min_samples_split': 5, 'min_samples_leaf': 1, 'max_depth': 10, 'criterion': 'gini', 'class_weight': 'balanced'}

In [137]:
dtree = random_search.best_estimator_

In [138]:
dtree.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=15,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [139]:
prediction = dtree.predict(ins_test)

In [140]:
prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [144]:
submission=pd.DataFrame(list(prediction),columns=['V86'])

In [145]:
submission.head()

   V86
0    0
1    0
2    0
3    0
4    0

In [148]:
submission.to_csv(r'F:\Python(ML)\Project 2\submission.csv',index=False)

In [160]:
from sklearn.metrics import classification_report
print(classification_report(ins_test, prediction))

ValueError: Classification metrics can't handle a mix of multiclass-multioutput and binary targets

In [151]:
type(prediction)

numpy.ndarray

In [153]:
prediction = pd.DataFrame(prediction)

In [156]:
type(prediction),type(ins_test)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [159]:
fbeta_score(ins_test,prediction,average='binary',beta=2)

ValueError: Classification metrics can't handle a mix of multiclass-multioutput and binary targets